.flex-child-green{
    padding-top: 30px;
    flex: 3;
    animation: fadeIn 0.2s;

}

.dir-story-button {
    position: absolute;
    right: 15%;
    color: white;
    background-color: #F96B7C;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    justify-content: center;
    height: 40px;
    width: 170px;
    font-size: 18px;

}

.dir-story-button:hover{
    transition: 0.2s ease-in;
    background-color: #f78391;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(106, 106, 106, 0.5);
}

.stor_button_new_text{
    display: flex;
    margin-right: 15%;
    padding-bottom: 10px;
    /* justify-content:; */
}

.above_hor_line{
    display: flex;
    justify-content: space-between;
}

.story_p{
    font-size: 17px;
}


.Storyheading_ {
    font-size: 50px;
    text-align: left;
    align-items: center;
    margin-left: 15%;
} 


.Storysubheading{
    padding-top: 28px;
    font-weight: 100;
}

.flex-container {
    display: flex;
    margin-right: 400px;
    margin-left: 15%;
    justify-content: space-between;
    animation: fadeIn 0.2s;


}
