@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

.gradient {
  background: linear-gradient(to bottom right, #8ed3a5, #46c7d3);
  height: 100vh;
  width: 100%;
  text-align: center;
  animation: fadeIn 0.2s;

}

.gradient h1 {
  color: white;
  font-size: 90px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
  font-weight: 500;
  margin-left: 130px;
  margin-top: 60px;
  text-align: left;
}

.g-h2 {
  color: white;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  margin-left: 140px;
  margin-top: -80px;
  margin-bottom: 55px;
  text-align: left;
}

.sub-container {

  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-color: white;
  height: 400px;
  width: 350px;
  margin: 0 50px; 
  border-radius: 2px;
}

.sub-container:hover {
  box-shadow: 0 0 10px rgba(106, 106, 106, 0.5);
  transition: 0.2s ease-in;
  height: 420px;
  width:360px ;

}

.sub-container h2 {
  color: #46d3c9;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  margin-top: 45px;
}

.b {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #f55366;
  width: 250px;
  height: 45px;
  color: #f55366;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing:1px;
}

.b:hover {
  background-color: #f55366;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.b-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  margin-top: -10px;
}

.b-container-1 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
}

.b-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  margin-top: -10px;
}

.b-container-2 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
}

.b-container-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  margin-top: 80px;
}

.b-container-3 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
}

