.heading {
    font-family:Arial, Helvetica, sans-serif;
    color: #205567;
    font-size:30px
}

.flex-container{
    display:flex;
    flex-direction:column;
    margin-right: 50px;
    margin-left:50px;
    padding-bottom: 25px;
}

.donor-div{
    display: flex;
    margin-top:15px
}

.donor-avatar{
    width: 75px;
    height: 75px;
}

.donor-details-div {
    display:flex;
    flex-direction:column;
    margin-left: 20px;
}
.donor-name-div{
    font-size: 20px;   
    line-height: 2;   
}