

.fail-donate {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}
  
  .failContainer {
    /* width: auto;
    margin-left: 50px;
    background-color: white;
    color: white; */
    text-align: center;
    align-items: center;
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 550px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #92D4D2;
    color: white;
  }

  .fail-button {
    margin-top: 20px;
    background-color: #92D4D2;
    align-items: center;
    border-radius: 30px;
    height: 40px;
    width:140px;
    margin-left: 380px;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 60px;

}
  
 