.footer {
    width: 100%;
    height: 100px;
    background-color: #121619;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3px;
  }
  
  .socialMedia svg {
    color: white;
    margin: 10px;
    font-size: 50px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;
  }