.footer {
  width: 100%;
  height: 100px;
  background-color: #121619;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3px;
}

.socialMedia {
  margin-top: -13px;
}
  
.socialMedia svg {
  color: white;
  margin: 18px;
  font-size: 50px;
  cursor: pointer;
  width: 35px;
}

.socialMedia svg:hover {
  color: #71ede4;
  cursor: pointer;
  transition: 0.1s ease-in;
}
  
.footer-org {
  color: white;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 13pt;
}

.footer-paktree-p {
  color: white;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 10pt;
  margin-top: -20px;
}