.forgotpasscontain{
    /* justify-content: center; */
    align-self: center;
    margin-top: 50px;
}

.subbut{
    margin-top: 20px;
    background-color: #92D4D2;
    border-radius: 30px;
    height: 40px;
    width:140px;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 285px;
    margin-left: 25%;
}