.forgotpasscontain{
    /* justify-content: center; */
    align-self: center;
    margin-top: 50px;
    animation: fadeIn 0.2s;

}

.subbut{
    margin-top: 20px;
    background-color: #92D4D2;
    border-radius: 30px;
    height: 40px;
    width:140px;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 285px;
    margin-left: 25%;
}
.subbut:hover{
    transition: 0.2s ease-in;
    background-color: #99dcda;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(106, 106, 106, 0.5);
}