.navbar {
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
  }
  
  .navbar .leftSide {
    flex: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
  }
  
  .navbar .leftSide img {
    width: 50px;
  }
  
  .navbar .rightSide {
    flex: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-right: 500px;
  }
  
  .navbar a {
    color: black;
    text-decoration: none;
    margin: 40px;
  }
  
  .navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
  }
  
  .navbar .rightSide svg {
    font-size: 40px;
  }
  
  .navbar #open {
    padding-left: 0px;
  }
  .navbar #open img {
    display: none;
  }
  
  .navbar #close img {
    display: inherit;
  }
  
  .navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  
  .navbar #open a {
    width: 70px;
    margin: 5px;
  }
  @media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }

  .navbar .dropbtn {
    background-color: transparent;
    /* padding: 50px; */
    /* position: relative; */
    padding-left: 100px;
    /* text-align: center; */
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .navbar .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
  }
  
  /* Links inside the dropdown */
  .navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .navbar .login {
    position: relative;
    display: inline-block;
  }
  .navbar .loginbutton {
    text-align: center;
    width: 100px; 
    height: 30px;
    /* margin-top: 15px; */
    margin-left: 650%;
    align-items: right;
    border-radius: 100px;
    font-size: 16px;
    display: block;
    background: #92D4D2;
  }
  
  /* Change color of dropdown links on hover */
  .navbar .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .navbar .dropdown:hover .dropbtn {background-color: none;}