@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

.navbar {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;

  padding: 0px 130px;
  box-sizing: border-box;
}

.logo-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16pt;
}
  
.navbar .leftSide {
  flex-grow: 3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 50px; */
  justify-content: flex-end;
}
  
.tree-logo {
  width: 30px;
  padding: 10px;
}

.profile-icon {
  width: 35px;
  padding: 0px;
  clip: rect(0px, auto, -55px, 0px);
}

.profile-dropbtn {
  background-color: transparent;
  padding: 30px;
  text-align: center;
  font-size: 16px;
  border: none;
}
  
.navbar .rightSide {
  flex-grow : 1;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-right: 500px;
}
  
.navbar a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  /* margin: 40px; */
  margin-right:auto;
}

  
  .navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
  }
  
  .navbar .rightSide svg {
    font-size: 40px;
  }
  
  .navbar #open {
    padding-left: 0px;
  }
  .navbar #open img {
    display: none;
  }
  
  .navbar #close img {
    display: inherit;
  }
  
  .navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  
  .navbar #open a {
    width: 70px;
    margin: 5px;
  }
  @media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }

  .navbar .dropbtn {
    background-color: transparent;
    padding: 41px;
    /* position: relative; */
    /* padding-left: 100px; */
    text-align: center;
    font-size: 16px;
    border: none;

  }

  .navbar .dropbtn:hover {
    color: #f55366;
    transition: 0.1s ease-in;
  }

  /* The container <div> - needed to position the dropdown content */
  .navbar .dropdown {
    position: relative;
    display: inline-block;
  }

  
  /* Dropdown Content (Hidden by Default) */
  .navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
  }
  
  /* Links inside the dropdown */
  .navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .navbar .login {
    position: relative;
    display: inline-block;
  }
  .navbar .loginbutton {
    border: 1px solid black;
    text-align: center;
    width: 100px; 
    height: 30px;
    align-items: right;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    background-color: transparent;
  }
  .navbar .loginbutton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in;
  }
  
  /* Change color of dropdown links on hover */
  .navbar .dropdown-content a:hover {background-color: #ddd;   transition: 0.2s ease-in;
  }
  
  /* Show the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-content {display: block;   transition: 0.5s ease-in;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .navbar .dropdown:hover .dropbtn {background-color: none;   transition: 0.2s ease-in;
  }

  .navbar .logout {
    position: relative;
    display: inline-block;
  }
  .navbar .logoutbutton {
    border: 1px solid black;
    text-align: center;
    width: 100px; 
    height: 30px;
    align-items: right;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    background-color: transparent;
  }
  .navbar .logoutbutton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in;
  }

  