.memHeading {
    
    font-size: 50px;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin-left: 15%;
    /* place-items: center; */
  }
  .horizontal_line{
    border-bottom: 2px solid #ccc;
    width: 70%;
    position: relative;
    top: -30px;
    margin: 0 auto;
  }

  .memList {
    width: 50vw;
    /* height: auto; */
    display: list-item;
    list-style: none;
    place-items: center;
    margin-left: 15%;
    padding: 10px;
    
  }

  .memItem{
    display: flex;
    justify-content: space-between;
  }

  .memImg{
    height: 100px;
    margin: 20px;
  }
  .memText{
    flex: 3;
    padding-top: 20px;
  }
.memText h2{
    font-size: 20px;
    font-weight: 100;
}


  .memButt{
    padding-top: 30px;
    flex: 3;
  }

  .button_mem{
    position: absolute;
    right: 15%;
    color: white;
    background-color: #F96B7C;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    justify-content: center;
    height: 40px;
    width: 170px;
    font-size: 18px;
  }

/* .Members {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: left; 
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 100px;
    font-size: x-large;
}

img {
    border-radius: 50%;
    width: 100px;
    height: auto;
}

.Memberheading {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
    color: #205567;
    text-align: left;
} 

.membercontainer {
    display: flex;
    flex-direction:row;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-top: 20px;
    align-self: left;
}

.memberdetail {
    flex: 1;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-left: 50px;
}  

.memberpic{
    margin-right: 10px;
    
} 

h4 {

    font-size: small;

}

.removebutton {
    margin-top: 20px;
    background-color: rgb(234, 114, 114);
    border-radius: 30px;
    height: 40px;
    width:140px;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 142px;
    color: white;
} */