@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

.container {
    text-align: center;
    height: 550px;
}

h1 {
    margin-top: 50px;
    color: #46d3c9;
    font-size:40px;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 2pt;
    
}
 

.but {
    border-radius: 5px;
    background-color: white;
    border: 1px solid #f55366;
    width: 250px;
    height: 45px;
    color: #f55366;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing:1px;
    margin: 15px;
}
  
.but:hover {
    background-color: #f55366;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in;
}